@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "CircularStd";
    src: url("/fonts/Circular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
